<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vivek.fishtank</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/vivekladha/vision-detection/Science/fish-tank/venv/bin/python3</string>
        <string>server.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/vivekladha/vision-detection/Science/fish-tank</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/vivekladha/vision-detection/Science/fish-tank/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/vivekladha/vision-detection/Science/fish-tank/server.log</string>
</dict>
</plist>
